body{
  background-image: url(https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
  font-family: 'Dosis', sans-serif;
}

.App {
  text-align: center;
}


.weather-card{
    background-color: rgba(241, 230, 230, 0.1);
    color: #000;
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: 40px;
    border-radius: 2px;
    box-shadow: 5px 5px 50px rgba(0,0,0,.1);
    position: relative;
    top: 110px;
    left: 150px;
    font-size: 18px;

  }

.button {
  background: #83d394;
  display: inline-block;
  padding: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: .3s ease all;
  color: #000;
}

.button:hover {
  background: #44a559;
  color: #fff;  
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  list-style: none;
  
}

.get-location-btn{
  background: #83d394;
  display: inline-block;
  padding: 20px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: .3s ease all;
  color: #000;
}

.get-location-btn:hover {
  background: #44a559;
  color: #fff;
}

.weather-info_icon{
  position: relative;
  left: -100px;
}